---
interface Props {
  pageTitle?: string;
}

const navigationItems = [
  { name: 'Home', url: '/' },
  { name: 'Blog', url: '/blog/' },
];

const socialIcons = [
  {
    name: 'Search',
    url: '/search',
    icon: 'i-uil-search',
    target: '_self',
    desktopOnly: false,
  },
  {
    name: 'GitHub',
    url: 'https://github.com/emish89/italiapersonalfinance',
    icon: 'i-uil-github',
    target: '_blank',
    desktopOnly: true,
  },
  {
    name: 'Reddit',
    url: 'https://www.reddit.com/r/ItaliaPersonalFinance/',
    icon: 'i-uil-reddit-alien-alt',
    target: '_blank',
    desktopOnly: true,
  },
];

const { pageTitle } = Astro.props;
---

<header class='border-b-4 border-black flex justify-between p-6 items-center'>
  {pageTitle && <h1 class='hidden'>{pageTitle}</h1>}
  <a href='/' title='Back to Home'>
    <p class='righteous md:text-5xl'>Italia Personal Finance</p>
  </a>
  <nav class='inline-block'>
    <h2 class='hidden'>Navigazione</h2>
    <ul class='flex gap-8 poppins'>
      {
        navigationItems.map((item) => (
          <li>
            <a
              class='text-lg font-medium hover:text-green hover:underline transition-all duration-150 ease-in-out'
              href={item.url}
              title={`Go to ${item.name}`}
            >
              {item.name}
            </a>
          </li>
        ))
      }
      {
        socialIcons.map((item) => (
          <li
            class={item.desktopOnly ? 'hidden md:inline-block' : 'inline-block'}
          >
            <a
              href={item.url}
              class='hover:text-green hover:underline transition-all duration-150 ease-in-out'
              target={item.target}
              title={item.name}
            >
              <div class:list={[item.icon, 'w-6 h-6']} />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
