---
interface Props {
  content: any;
}

const { content } = Astro.props;
const timeFormat: Intl.DateTimeFormatOptions = {
  year: '2-digit',
  month: 'numeric',
  day: '2-digit',
  hour: '2-digit',
  minute: '2-digit',
  hour12: false,
  timeZone: 'Europe/Rome',
};
const lastModifiedDate = new Date(content.lastModified).toLocaleString(
  'it',
  timeFormat,
);
const pubDate = new Date(content.pubDate).toLocaleString('it', timeFormat);
---

<article class='prose-slate w-sm md:w-prose md:prose poppins'>
  <a href='javascript: history.go(-1)' title='Back page'
    >&larr; Torna alla pagina precedente</a
  >
  <p class='text-slate text-sm md:text-base'>
    Ultimo aggiornamento: {lastModifiedDate} - Autore: <a
      href={'https://www.reddit.com/' + content.author}>{content.author}</a
    >
  </p>
  <p class='text-slate italic text-sm md:text-base pb-12'>
    Tempo di lettura: {Math.round(content.minutesRead)} minuti
  </p>
  <slot />
  <p class='text-slate pt-24'>
    Scritto da: <a href={'https://www.reddit.com/' + content.author}
      >{content.author}</a
    > - Ultima revisione: <a
      href={'https://www.reddit.com/' + content.lastReviewer}
      >{content.lastReviewer}</a
    >
  </p>
  <p class='text-slate'>
    Originariamente pubblicato il {pubDate} e aggiornato l'ultima volta il {
      lastModifiedDate
    }
  </p>
  <a href='javascript: history.go(-1)' title='Back page'
    >&larr; Torna alla pagina precedente</a
  >
</article>
