---
interface Props {
  content: any;
}

const { content } = Astro.props;
const timeFormat: Intl.DateTimeFormatOptions = {
  year: '2-digit',
  month: 'numeric',
  day: '2-digit',
  hour: '2-digit',
  minute: '2-digit',
  hour12: false,
  timeZone: 'Europe/Rome',
};
const lastModifiedDate = new Date(content.lastModified).toLocaleString(
  'it',
  timeFormat,
);
const pubDate = new Date(content.pubDate).toLocaleString('it', timeFormat);
---

<article class='prose-slate w-sm md:w-prose md:prose poppins'>
  <a href='/blog/' title='Back to blog'>&larr; Torna agli articoli</a>
  <p class='text-slate text-sm md:text-base'>
    Ultimo aggiornamento: {lastModifiedDate} - Autore: {content.author}
  </p>
  <p class='text-slate italic text-sm md:text-base'>
    Tempo di lettura: {Math.round(content.minutesRead)} minuti
  </p>
  <slot />
  <p class='text-slate'>Scritto da {content.author}</p>
  <p class='text-slate'>
    Originariamente pubblicato il {pubDate} e aggiornato l'ultima volta il {
      lastModifiedDate
    }
  </p>
  <a href='/blog/' title='Back to blog'>&larr; Torna agli articoli</a>
</article>
