---
import Layout from './Default.astro';
import BlogSideBar from '@components/blog/BlogSideBar.astro';
import BlogContent from '@components/blog/BlogContent.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import Comments from '@components/generic/Comments.astro';

const ogImage = new URL(`/v1/generate/og/${Astro.params.slug}.png`, Astro.url);

const {
  content,
  headings,
  title,
  description,
  lastModified,
  pubDate,
  minutesRead,
} = Astro.props;
---

<Layout
  title={title as string}
  description={description as string}
  ogImage={ogImage}
  lastModified={lastModified as string}
  pubDate={pubDate as string}
>
  <main class='p-6 lg:grid lg:grid-cols-3 flex justify-center'>
    <BlogSideBar {headings} />
    <BlogContent {content} {minutesRead} {lastModified}>
      <slot />
    </BlogContent>
  </main>
  <section class='p-6 lg:px-72'>
    <Comments />
  </section>
  <section class='p-6'>
    <RecentBlogPosts count={6} />
  </section>
</Layout>
